#terminal-window {
    border: 5px;
    border-color: lightgrey;
    border-style: ridge;
    overflow-y: scroll;
    max-height: 80%;
    min-height: 80%;
    max-width: 100%;
    min-width: 100%;
    display: block;
    position: absolute;
    margin: auto;
    /*margin-top: 100px;*/
    font-family: 'Ubuntu', sans-serif;
}

p {
    margin-bottom: 0px;
    word-wrap: break-word;
}

textarea:focus, input:focus {
    outline: none;
}

.blacktheme-background {
    background-image: linear-gradient(60deg, white, lightblue);
}

.blacktheme {
    color: white;
    background-color: black;
}

.blacktheme-title {
    color: black;
}

.whitetheme-background {
    background-image: linear-gradient(60deg, black, grey);
}


.whitetheme-title {
    color: white;
}

.whitetheme {
    color: black;
    background-color: ghostwhite;
}

#input-term {
    -webkit-appearance: none;
    width: 90%;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 0px;
    border-width: 0px;
    border-style: none;
    border-image: none;

}

#user {
    color: green;
}

#path {
    color: dodgerblue;
}

#current-line {
    display: table;
}

#user, #path, #input-span {
    display: table-cell;
}

#input-span {
    width: 100%;
}

#switch-theme {
    bottom: 5px;
    position: absolute;
    margin-left: 45% !important;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#title, #switch-theme {
    font-family: 'Mina', sans-serif;
}

pre {
    color: grey;
}